{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-unresolved": [0],
    "import/no-extraneous-dependencies": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/prop-types": [0],
    "import/prefer-default-export": [0],
    "padded-blocks": [2, "always"]
  }
}
